<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=MAGI;Initial Catalog=ContabilidadDB;Integrated Security=True" />
    <add name="Contabilidad.Properties.Settings.ContabilidadDBConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ContabilidadDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>